body{
     background-position:center;
    background-color:(73, 106, 151);
    background-size:cover;
    font-family: sans-serif;
    margin-top: 40px;
    font-size:10px;

   


}
.title{
    margin:10;
    padding:0;
    
}
.form{
    width: 800px;
    background-color(59, 57, 53);
    margin:auto;
    padding:10px 10px 10px 10px; 
    text-align: center;
    border-radius: 15;
    
}
.title{
        background-color:rgb(19, 132, 136);
        width: 800px;
        margin: auto;
}
form{
       padding: 7px;
}
#name{
       width:1px;
       height:50px;
       

}
.Employee-Id{
    
    position: relative;
    font-family: sans-serif;
    left: 200px;
    top: -29px;
    border-radius: 6px;
    line-height: 30px;
    padding: 0 22px;
    font-size:20px ;
}

.name{
    

    margin-top: 4px;
    width: 225px;
    color: black;
    font-size: 12px;
    font-weight: 700;

}

.Last Name{
    position: relative;
    left: 300px;
    top: -29px;
    border-radius: 6px;
    line-height: 30px;
    padding: 0 22px;
    font-size:5px ;
}
  
.btn{
background:(24, 161, 104);
border-radius: 10px;
margin:30px ;
color:rgb(57, 57, 128) ;
border:10px;
padding: 20px;
cursor:pointer;
text-align:right;
font-size: 30px;
font-family: Lucida Sans;

} 

  





